* {
    margin: 0;
    padding: 0;
}

#squareBox {
    background-color: aqua;
    height: 600px;
    width: 500px;
    margin-left: 70px;
    margin-top: 70px;
}

#nameText {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}

#indexValue {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#firstColumn {
    text-align: center;
    margin-top: 10px;
}

#secoudColumn {
    text-align: center;
}

#thirdColumn {
    text-align: center;
}

#fouthColumn {
    text-align: center;
}

#fiveColumn {
    text-align: center;
}